input {
    border: none;
    border: gray solid 1px;
    background: transparent;
    width: 100%;
    padding: 3px;
    transition: .1s;
    &:focus {
        outline: none;
        transform: scale(1.02);
    }
}